@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 70px;
}

.jumbotron  {
	background-color: rgb(255, 255, 255);

}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: 0px;
    padding-right: 60px;
}

